body {
    background: #000000;
    height: 100vh;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-row-gap: 0px;
}

.logo {
    align-self: center;
    justify-self: center;
}

.social_icons_container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .container {
        height: 100vh;
        align-content: center;
    }
    .social_icon {
        width: 80px;
    }
    .logo {
        width: 80%;
    }
}