html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #000000;
    height: 100vh;
    width: 100vw;
    font-family: "Krungthep", "Raleway", sans-serif;
    color: #ffffff;
    margin: 0 0;
    padding: 0 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-row-gap: 0;
    position: relative;
}

.wrapper {
    position: absolute;
    display: grid;
    top: 50%;
    transform: translateY(-50%);
    align-self: center;
    width: 100%;
}

.logoContainer {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 43.75rem;
}


/* Smaller Desktop */

@media only screen and (max-width: 68.75rem) {
    .container {
        align-content: center;
    }
}


/* Tablet */

@media only screen and (max-width: 48rem) {
    .container {
        align-content: center;
    }
    .logoContainer {
        width: 80%;
    }
}